<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-sm-12 col-lg-2">
        <div class="col-12 filters-container">
          <p class="h5">Filters</p>
          <app-satelite-filter [spaceXFilters]="spaceXFilters" [appliedFilters]="appliedFilters" (navigate)="handleNavigation($event)"></app-satelite-filter>
        </div>
      </div>
      <div class="col-sm-12 col-lg-10">
        <div class="row">
          <div *ngFor="let satelite of satelitesData; let index=index"  class="col-sm-12 col-md-6 col-lg-3">
            <app-satelite [satelite]="satelite" [index]="index"></app-satelite>
          </div>
          <div class="nodata" *ngIf="!satelitesData.length">
            No Data Available.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
