
.filters-container {
  padding: 10px 30px;
  background-color: #ffffff;
  margin: 10px auto;
  border-radius: 5px;
}

.filters-caption {
  border-bottom: 2px solid #cccccce3;
  text-align: center;
}

.filter-btn {
  background-color: #c5e09b;
  border: none;
  padding: 0px 15px;
  color: #000000;
  margin-bottom: 10px;
}

.filter-btn .active,
.filter-btn:hover,
.filter-btn:active {
  background-color: #7cb807;
  color: #000000;
}

.btn-success:active:focus {
  background-color: #7cb807;
  box-shadow: none;
  color: #000000;
}
