<div class="row">
  <div class="col-12">
    <div class="satelite-card">
      <div class="launch-image">
        <img src={{satelite.links.mission_patch_small}} loading="lazy" alt="image" width="256" height="256" />
      </div>
      <div class="row">
        <div class="col-12">
          <p class="h5 satelite-text">{{satelite.mission_name}} #{{index}}</p>
        </div>
        <div class="col-12">
          <p class="h6">Mission Ids: <span class="satelite-text">{{renderText(satelite.mission_id.toString())}}</span></p>
        </div>
        <div class="col-12">
          <p class="h6">Launch Year: <span class="satelite-text">{{renderText(satelite.launch_year)}}</span></p>
        </div>
        <div class="col-12">
          <p class="h6">Successful Launch: <span class="satelite-text">{{satelite.launch_success ? 'true' : 'false'}}</span></p>
        </div>
        <div class="col-12">
          <p class="h6">Successful Landing: <span class="satelite-text">{{renderText(satelite.rocket.first_stage.cores[0].land_success)}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
